.slick-prev:before, .slick-next:before {
  color: black;
}

.header {
  border: 1px solid black;
  background: #AAA;
}
.header__h1_fontSize-2rem {
  font-size: 1.9rem;
}

#hide {
  width: 100%;
  height: 100%;
}
